body {
    font-family: 'Source Sans 3', sans-serif;
    background: linear-gradient(120deg, #ff655a85, #ff8b64ab),
    url(https://image.freepik.com/vector-gratis/marco-abstracto-floral-rosa_53876-100928.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #7d6b7da4;
    margin: 10px;
    width: fit-content;
}

#title {
    font-weight: 600;
}

#description {
    width: 70%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #fff587a4;
    padding: 30px;
    border-radius: 8px;
    border-style: none;
}

form label{
    font-size: 18px;
    font-weight: 600;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    border-style: none;
}

#dropdown {
    padding: 8px;
    width: 100%;
}

.options-group {
    display: flex;
    flex-direction: column;
}

.options-group p {
    font-size: 18px;
    font-weight: 600;
}

.options-group label {
    font-size: 16px;
    font-weight: 500;
}

#text-area {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

form button {
    background-color: #7D6B7D;
    border-style: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: auto;
    font-size: 16px;
    font-weight: 600;
}

form button:hover {
    background-color: #FF665A;
}